.space-tunnel
	- (1..8).each do
		.cube-frame

// delete me if needed
.description-container
	.title
		3D Tunnel
	.subtitle
		pure css
		
%a.author-container{ :href => "https://codepen.io/sylvaingarnot", target: "_blank" }
	.picture
	.title
		@SylvainGarnot